@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(187, 187, 187);
    background-color: rgb(29, 29, 29);
}

a {
    color: rgb(150, 3, 137);
    text-decoration: none;
    font-weight: bold;
    transition: 0.6s;
}

a:hover {
    color: red;
}

.btn-custom {
    border: 1px solid rgb(255, 0, 170);
    color: rgb(255, 0, 170);
    display: block;
    font-size: 16px;
    min-width: 200px;
    padding: 15px 45px;
    text-decoration: none;
	text-align: center;
    transition: 0.6s;
	width: 350px;
}

.btn-custom:hover {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.116);
}

.current {
    color: red !important;
}

.footer {
    background-color: #212529;
}

.footer h4 {
	font-size: 18px;
}

.form-control {
    color: rgb(187, 187, 187);
    background-color: #212529;
    border: 2px solid rgb(214, 31, 199);
}

.form-control:focus {
    background-color: #212529;
    border: 2px solid red;
    box-shadow: none;
    color: rgb(187, 187, 187);
}

h1 {
    font-family: 'Kaushan Script', cursive;
    color: rgb(214, 31, 199);
    font-size: 50px;
}

h2, h3, h4 {
    font-family: 'Kaushan Script', cursive;
    color: rgb(214, 31, 199);
}

.hero {
    display: flex;
    align-items: center;
    background-image: url(img/heroimg.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.hero-content {
    padding-bottom: 75px;
    margin: auto;
}

.hero-content > img {
    width: 850px;
    padding: 35px;
}

.hidden-spacer {
    height: 100px;
}

.icons {
    text-align: center;
    font-size: 9em;
    margin-bottom: 25px;
}

.map {
    width: 650px;
    height: 500px;
}

.navbar-nav>li {
    padding-right: 35px;
}

.normal-text {
    font-size: 19px;
    line-height: 1.6em;
}

.navbar-nav > li a {
    font-size: 18px;
    font-weight: bold;
    color: rgb(214, 31, 199)!important;
}

.navbar-nav > li a:active {
    color: red !important;
}

.navbar-nav > li a:hover {
    color: red !important;
}

.social-media {
    font-size: 30px;
}

.social-media a {
    color: rgb(214, 31, 199);
    padding-left: 15px;
}

.social-media a:hover {
    color: red;
}

.quote-img {
    background-color: aqua;
    background-image: url(img/skull_pattern.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.quote {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    line-height: 147%;
    margin: 80px;
}

@media screen and (max-width: 650px) {
	
	.social-media a {
		font-size: 17px;
	}
	.map {
	display: none;
	}
	
	.btn-custom {
		margin-left: auto;
		margin-right: auto;
	}
}


